body {
  background-color: #ACBCBD;
  font-family: 'Orbitron', sans-serif;
}

.logo-image {
  margin-top:20px;
  margin-bottom:20px;
}

.jumbotron {
  color: #ACBCBD;
  background-color: #2B2129;
  margin-left: -100px;
  margin-right: -100px;
  font-family: 'Orbitron', sans-serif;
}

.heading {
  font-family: 'Orbitron', sans-serif;
}

.game-title {
  float: right;
  padding-top: 40px;
  padding-right: 200px;
}

.actor-image {
  width: 125px;
}

figcaption {
  display: none;
  font-family: 'Teko';
  font-size: 2em;
}

figure:hover figcaption {
  display: block;
}

.quote-block {
  background-color: steelblue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.quote-text {
  padding-top: 20px;
  font-size: 2em;
  font-family: 'Teko', bold;
  color: white;

}

.temp-hide {
  display: none;
}
