.logo-image {
  margin-top:20px;
  margin-bottom:20px;
}

.jumbotron {
  color: #ACBCBD;
  background-color: #2B2129;
  margin-left: -100px;
  margin-right: -100px;
  font-family: 'Orbitron', sans-serif;
}

.game-title {
  float: right;
  padding-top: 40px;
  padding-right: 200px;
}

body {
  background-color: #ACBCBD;
}

/*.movie-id {
  float:left;
  width:30%;
}

.movie-description {
  float:left;
  width:40%;
  margin-left:30px;
  margin-top:60px;
}*/

.actor-image {
  width: 125px;
}
